[submodule "macrology201"]
	path = macrology201
	url = https://github.com/scalamacros/macrology201
[submodule "essential-macros"]
	path = essential-macros
	url = https://github.com/underscoreio/essential-macros
[submodule "scala-macros-examples"]
	path = scala-macros-examples
	url = https://github.com/BBartosz/scala-macros-examples
